<div class="login-container">
  <form [formGroup]="loginForm" (submit)="onSubmit()"
        class="form-signin">
    <img class="mb-4" src="./assets/angular-logo.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <p>Use this credentials: <br>Username: admin <br>Password: password</p>
    <p *ngIf="errorMsg" class="error-msg">{{ errorMsg }}</p>
    <label for="inputUsername" class="sr-only">Username</label>
    <input formControlName="username"
           type="email" id="inputUsername" class="form-control" placeholder="Username" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input formControlName="password"
           type="password" id="inputPassword" class="form-control" placeholder="Password">
    <button [disabled]="loginForm.invalid || loading"
            class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2022</p>
  </form>
</div>
